@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.body_c{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10%;
    background-image: linear-gradient(to bottom right, #5077BC, green);
}
h1{
    width: 80%;
    font-style: italic;
    font-family: 'Sigmar One', cursive;
    
}
input[type=text] {
    font-family: 'Poppins', sans-serif;
}
.outter_spacebar{
    margin-left: 10%;
    width: 65%;
    align-items: center;
}
.spacebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spacebar_inner{
    margin-right: 20px;
    
}
.logo{
    width: 200px;
    height: 200px;
}
.img{
    width: 100%;
    height: 400px;
}
.img_1{
    width: 100%;
    height: 400px;
}
.images{
    display: flex;
}
.div_inf{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    border-style: solid;
    align-content: center;
    font-size: 30px;
    background-color: darkgray;
}
p{
    text-align: justify;
}
b{
    font-weight: bold;
}
.list_letters{
    list-style-type: lower-alpha;
}
.list_circle{
    list-style-type: circle;
}
.exception{
    text-decoration-line: underline;
    font-style: italic;
}
.header_f{
    font-style: italic;
}
th{
    text-decoration-line: underline;
    text-align: start;
}
.th_h1{
    text-align: center;
}
.table_s_o{
    width: 100%;
    margin-bottom: 50px;
}
td{
    text-align: center;
}
.big_container{
    display: flex;
}
.b_inner{
    align-content: baseline;
    display: flex;
    vertical-align: middle;
}
.inner{
    vertical-align: middle;
}
#ip4 {
    border-radius: 15px 50px 30px;
    border: 2px solid #609;
    padding: 2px;
    width: 165px;
    height: 15px; 
}
.btn{
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 16px 32px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s; /* Safari */      
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.btn:hover {      
    background-color: #008CBA;      
    color: white; 
}
